body{
  background:grey;
}

u{
  color:cyan;
}

h1{
  text-align:center;
  color:green;
}|

h2{
  text-align:center;
  color:red;
}

h3{
  text-align:center;
  color:black;
}

p{
  text-align:center;
  color:green;
}

div{
  text-align:center;
}
